.moje-input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 4px;
    border: 1px solid #cecece;
    height: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.2;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

footer.footer {
    text-align: center;
}

footer .copyright {
    padding:20px 0px;
}

table
{
    text-align: center;
}

#poruke 
{
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  display: inline-block;
  width: 200px;
}

#porukeHeader {
  padding: 10px;
  z-index: 10;
  background-color: #F4B400;
  color: #fff;
}

.porukaSadrzaj
{
  width: 100px;
  height: 300px;  
  display: inline-block;
}

@media screen and (max-width: 992px) 
{

#poruke {display: none;}

}

#poruka
{
  background-color: #b7b7b7;
}

.table td {
  padding: .55rem 0.35rem!important;
}